{% import "_includes/forms" as forms %}

{% macro attachmentUploadLocationInput(name, settings, inputSourceOptions) %}
    {% from "_includes/forms" import select, text %}
    <div class="flex">
        <div>
            {{ select({
                id: name~'Source',
                name: name~'Source',
                options: inputSourceOptions,
                value: settings[name~'Source'],
            }) }}
        </div>
        <div class="flex-grow">
            {{ text({
                id: name~'Subpath',
                class: 'ltr',
                name: name~'Subpath',
                value: settings[name~'Subpath'],
                placeholder: "path/to/subfolder"|t('app')
            }) }}
        </div>
    </div>
{% endmacro %}
{% from _self import attachmentUploadLocationInput %}

{{ forms.autosuggestField({
    label: "Send To",
    name: 'email',
    value: settings.email,
    suggestEnvVars: true
}) }}

{{ forms.textField({
    label: "ReCaptcha Secret Key",
    name: 'recaptchaSecretKey',
    value: settings.recaptchaSecretKey
}) }}

{{ forms.field({
    label: "Attachment Upload Location"|t('app'),
    instructions: "Where should attached files be stored?"|t('app')
}, attachmentUploadLocationInput('attachmentUploadLocation', settings, sourceOptions)) }}